* {
    margin: 0;
    padding: 0;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

#hero0 {
    margin: 0px 130px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#txt0 {
    font-size: 28px;
    font-weight: 700;
}

#btn1 {
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
    color: rgb(0, 106, 80);
    padding: 15px 30px;
}

#btn1:hover {
    background-color: darkgreen;
  }

/* first section */

#hero1 {
    margin: 20px 150px;
    padding: 30px;
    background-color: rgb(198, 228, 214);
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
}

#txt1 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 18px;
    font-weight: 500;
    padding-top: 70px;
    padding-bottom: 10px;
}

#txt2 {
    color: rgb(14, 14, 14);
    font-size: 42px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 30px;
}

#btn2 {
    border: 0;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    font-weight: bold;
    color: white;
    padding: 15px 30px;
}

#btn2:hover {
    background-color: darkgreen;
  }

#hero2 {
    margin: 20px 130px;
    padding: 30px;
}


/* second section */

#txt3 {
    color: rgb(14, 14, 14);
    font-size: 38px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 18px;
}

#txt4 {
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 400;
}

#hero3 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-content: center;
}

/* card section */

#card1 {
    padding: 30px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    width: 400px;
}

#card2 {
    padding: 30px;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    width: 400px;
}

#card3 {
    padding: 30px;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    width: 400px;
}

.txt5 {
    color: rgb(14, 14, 14);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 18px;
}

.txt6 {
    color: rgb(14, 14, 14);
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 18px;
}

#btn3 {
    border: 0;
    border-radius: 8px;
    background-color: rgb(84, 144, 245);
    font-weight: bold;
    color: white;
    padding: 15px 30px;
}

#btn3:hover {
    background-color: darkgreen;
  }

#btn4 {
    border: 0;
    border-radius: 8px;
    background-color: rgb(9, 161, 92);
    font-weight: bold;
    color: white;
    padding: 15px 30px;
}

#btn4:hover {
    background-color: darkgreen;
  }

#btn5 {
    border: 0;
    border-radius: 8px;
    background-color: rgb(255, 194, 57);
    ;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
}

#btn5:hover {
    background-color: darkgreen;
  }

/* quote */

#quote {
    padding: 15px 15px;
    background-color: rgba(227, 222, 222, 0.584);
    border-radius: 22px;
    padding-bottom: 30px;
}

#usuf1 {
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 10px;
}

#usuf2 {
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 10px;
}

/* news section */

#news {
    margin: 20px 130px;
    padding: 30px;
}

#nstitl {
    color: rgb(14, 14, 14);
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 18px;
}

#nssubtitl {
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}


.ns1 {
    padding: 10px 10px;
    background-color: rgba(227, 222, 222, 0.584);
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nsimg {
    padding: 20px;
}

.nsbtn {
    border: 0;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    font-weight: bold;
    color: white;
    padding: 15px 30px;
}

.nsbtn:hover {
    background-color: darkgreen;
  }

#taka {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
}

/* donation desing */
.child {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 38px;
    font-weight: 700;
    font-size: 24px;
}

#input {
    width: 100%;
    padding: 12px 20px;
}

/* subscr */
#subs {
    padding: 10px 10px;
    background-color: rgb(198, 228, 214);
    ;
    border-radius: 22px;
    padding: 20px 20px;
}

#sust {
    color: rgb(14, 14, 14);
    font-size: 34px;
    font-weight: 700;
    padding-top: 40px;
    text-align: center;
}

#sust2 {
    color: rgba(14, 14, 14, 0.763);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 90px;
    padding-bottom: 40px;
    text-align: center;
}

#subform {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin-bottom: 10px;
}

#inpt {
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 360px;
}

#subtn {
    padding: 10px 20px;
    border: none;
    background-color: #116d54;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#subtn:hover {
    background-color: darkgreen;
  }